.app{
  background-color:#dadbd3;
  display:grid;
  place-items: center;
  height: 100vh;
}
.app_body{
  display:flex;
  margin-top: -50px;
  background-color:#ededed;
  width: 90vw;
  height: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
}




/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .app_body{
      display:flex;
      flex-direction: column;

    }
   
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .app{
      height: 100%;
    }
    .app_body{
      display:flex;
      height: 100%;
      
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}